[color]
  ui = auto

[alias]
  st = status
  hist = log --graph --all --color --pretty=format:\" %C(yellow)%h%Creset %C(green)%an%Creset%x09%s %Cred%d%Creset\"
  graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...develop | grep 'Merge pull request #' | head -n 1; }; f"

[core]
  excludesfile = ~/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"
	precomposeUnicode = true
	autocrlf = input

[diff]
  tool = vimdiff
  algorithm = histogram
    compactionHeuristic = true

[merge]
  tool = vimdiff

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Taiki Shiraishi
	email = operatic-earthquake+github@pm.me
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
